#modal_dialog {
    display:none;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

.ui-dialog-titlebar {
    display: none;
}
