<div style="float: right">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Movie Title</div>
        <div class="panel-body" style="min-width: 500px; min-height: 300px">
            <p>Overview</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">Top Billed Cast:</li>
            <li class="list-group-item">Genres: </li>
            <li class="list-group-item">Theatrical Release Year:</li>
            <li class="list-group-item">Ratings:</li>
            <li class="list-group-item">Other Recommendations:</li>
        </ul>
    </div>
</div>