<div class="container">
    <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a ui-sref="root.home" href="#">home</a></li>
            <li role="presentation"><a ui-sref="root.about" href="#">about</a></li>
            <li ng-if="user" role="presentation"><a ui-sref="root.restricted" href="#">restricted page</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Movie Recommendation Engine</h3>
    </div>
</div>

<span ng-if="user"><button ng-click="logout()">logout</button></span>
<span ng-if="!user"><button ng-click="login()">login</button></span>
