<div class="jumbotron text-center">
    <h1>Movie Recommendation Service</h1>
    <p>Talk to our chat agent to get a recommendation!</p>
</div>


    <!-- COLUMN ONE -->
    <div class="col-sm-6">

        <div>
            <input id="input" type="text" placeholder="Type here to get started..">

            <div id="spokenResponse" class="spoken-response">
                <div class="spoken-response__text"></div>
            </div>
        </div>
        <br>
        <a ng-if="movies" ui-sref="root.home.movie_detail" class="btn btn-primary">Update Movie Details</a>
    </div>

    <!-- COLUMN TWO -->
    <div class="col-sm-6" id="detail">
        <div ui-view="movie_detail"></div>
    </div>
