<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    <form role="form" method="post" action="" accept-charset="UTF-8">

                        <label for="fname">First Name</label>
                        <input type="text" ng-model="userCred.firstname" id="fname" class="form-control" name="fname" placeholder="Example: John">

                        <label for="lname">Last Name</label>
                        <input type="text" ng-model="userCred.lastname" id="lname" class="form-control" name="lname" placeholder="Example: Smith">

                        <label for="emailaddr" class="m-t-10">Email Address</label>
                        <input type="text" ng-model="userCred.username" id="emailaddr" class="form-control" name="email" placeholder="Example: john.smith@gmail.com">

                        <label for="password" class="m-t-10">Password</label>
                        <input type="password" ng-model="userCred.password" id="password" class="form-control" name="password" placeholder="">


                        <center><input type="submit" class="btn btn-primary" id="submitbtn" name="submit" ng-click="signup(userCred)" value="Submit"></center>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
