<div class="jumbotron text-center">
    <h1>Movie Recommendation Service</h1>
    <p>Talk to our chat agent to get a recommendation!</p>
</div>


    <!-- COLUMN ONE -->
    <div class="col-sm-6">
        <!-- <p><iframe width="350" height="430" src="https://console.api.ai/api-client/demo/embedded/4f8d9544-1d5d-4a0a-b308-7bb03eeeaee3"></iframe></p> -->
        <div>
            <input id="input" type="text"> <button id="rec">Submit</button>
            <br>Response<br> <textarea id="response" cols="40" rows="20"></textarea>
        </div>

        <a ui-sref="root.home.movie_detail" class="btn btn-primary">Click For Movie Details</a>
    </div>

    <!-- COLUMN TWO -->
    <div class="col-sm-6">
        <div ui-view="movie_detail"></div>
    </div>
