<div class="jumbotron text-center">
    <h1>Movie Recommendation Service</h1>
    <p>Talk to our chat agent to get a recommendation!</p>
</div>


    <!-- COLUMN ONE -->
    <div class="col-sm-6">
        <div>
            <!--<input id="input" type="text"> <button id="rec">Submit</button>
            <br>Response<br> <textarea id="response" cols="40" rows="20"></textarea> -->

            <input id="input" type="text" placeholder="Type here to get started..">

            <div id="spokenResponse" class="spoken-response">
                <div class="spoken-response__text"></div>
            </div>
        </div>
        <br>
        <a ng-if="movies" ui-sref="root.home.movie_detail" class="btn btn-primary">Update Movie Details</a>
    </div>

    <!-- COLUMN TWO -->
    <div class="col-sm-6">
        <div ui-view="movie_detail"></div>
    </div>

    <style type="text/css">
      html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
      }
      input {
        background-color: #FFFFFF;
        border: 1px solid #3F7F93;
        color: #000000;
        font-family: "Titillium Web";
        font-size: 20px;
        line-height: 43px;
        padding: 0 0.75em;
        width: 500px;
        -webkit-transition: all 0.35s ease-in;
      }
      textarea {
        background-color: #070F24;
        border: 1px solid #122435;
        color: #606B88;
        padding: 0.5em;
        width: 100%;
        -webkit-transition: all 0.35s ease-in;
      }
      input:active, input:focus, textarea:active, textarea:focus {
        outline: 2px solid #48788B;
      }
      .spoken-response {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: all 0.35s ease-in;
      }
      .spoken-response.is-active {
        max-height: 400px;
      }
      .spoken-response__text {
        background-color: #FFFFFF;
        border: 1px solid #3F7F93;
        color: #000000;
        font-family: "Titillium Web";
        font-size: 20px;
        padding: 2em;
      }
    </style>
