{% extends "base.html" %}

{% block body %}
{{ super() }}
    <hr>
    <br>
    <br>
    <br>
	<div ng-view></div>
{% endblock %}

{% block j_content %}

<div style="float: left">
    <p class="lead" >Talk to our chat agent!</p>
    <p><iframe width="350" height="430" src="https://console.api.ai/api-client/demo/embedded/4f8d9544-1d5d-4a0a-b308-7bb03eeeaee3"></iframe></p>
</div>

<div style="float: right">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Movie Title</div>
        <div class="panel-body" style="min-width: 500px; min-height: 300px">
            <p>Overview</p>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">Top Billed Cast:</li>
            <li class="list-group-item">Genres: </li>
            <li class="list-group-item">Theatrical Release Year:</li>
            <li class="list-group-item">Ratings:</li>
            <li class="list-group-item">Other Recommendations:</li>
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="//code.angularjs.org/1.5.3/angular-route.min.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"></script>
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">
{% endblock %}

<!-- user ratings|by default it should be "okay"
 move the things over (glide it when the recommendations show up) |
 and add to movie history-->