{% extends "base.html" %}

{% block body %}
{{ super() }}
<br>
<br>
<br>
<p> More to come soon.. </p>
{% endblock %}

{% block j_content %}
<h3>Talk to our chat agent!!</h3>
</br>
<div class="embed-responsive text-center">
    <iframe align="center" width="350" height="430" src="https://console.api.ai/api-client/demo/embedded/4f8d9544-1d5d-4a0a-b308-7bb03eeeaee3"></iframe>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="//code.angularjs.org/1.5.3/angular-route.min.js"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"></script>
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">
{% endblock %}
