
{% extends "base.html" %}


{% block body %}
{{ super() }}
<div ui-view></div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="//unpkg.com/angular-ui-router@0.4.2/release/angular-ui-router.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/services.js') }}"></script>
{% endblock %}

{% block styles %}
{{ super() }}
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Titillium+Web:200" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">

{% endblock %}
